body {
    background-color: #7AA874;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #D864A9;
    font-size: 4rem;
}

p, li, footer {
    color: #F7DB6A;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    color: #FC2947;
    padding-top: 30px;
}

input {
    display: inline-flex;
    width: auto;
}

button {
    margin-top: 25px;
}

input::placeholder {
    text-align: center;
  }

div {
    padding: 10px;
}

.error {
    background-color: #EBB02D;
    color: #FC2947;
    padding: 10px;
}

img {
    width: 48px;
}

#grid-container{
    display: inline-flex;
    column-gap: 20px;
}